.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    height: 100vh;
}

.dashboard-header {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.header-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.dashboard-content {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.metrics-overview,
.upcoming-shift {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}
