.profile-display-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .profile-picture {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .profile-info {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
  }
  
  .profile-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .profile-row span {
    font-weight: bold;
  }
  
  .edit-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
  }
  