.schedule-container {
  display: flex;
  height: 100vh; /* Set the container to fill the full height of the viewport */
  padding: 20px;
  /* background-color: red; */
}

.left-panel {
  flex: 1;
  padding-right: 20px;
  border-right: 2px solid #ccc;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; Centers the content vertically */
  
}

.right-panel {
  flex: 3;
  padding-left: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; Centers the content vertically */
}

.shift-info {
  margin-top: 20px;
}

.shift-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.calendar-header {
  margin-bottom: 20px;
}
